{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
<br>
<ul class="row" style="list-style:none;">
    <li class="col-sm-4" ></li>
    <li class="col-sm-4" >
        <div class="address-widget">
          <span><strong>Cambiar contraseña</strong></span>
          <br>
          <br>
          <p>
            {% trans "Ingresa tu nueva contraseña" %}
          </p>
          <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn" style="background-color:#FF7400; color:white;" value="{% trans 'Cambiar contraseña' %}" />
          </form>
        </div>
    </li>
    <li class="col-sm-4" ></li>
</ul>
<br>
{% else %}
  Cambio de contraseña incorrecto. Por favor <a href="{% url 'auth_password_reset' %}">intenta nuevamente.</a>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
