{% load i18n %}

{% blocktrans %}Saludos{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Usted ha solicitado recientemente restablecer su contraseña de la cuenta de {{ domain }}.
Si no ha solicitado restaurar su contraseña, por favor ignore este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para cambiar su contraseña, porfavor haga click en el siguiente enlace o copie y peguelo en su navegador:
{% endblocktrans %}

<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'rest_password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'rest_password_reset_confirm' uid token %}
</a>


{% blocktrans %}Saludos coordiales{% endblocktrans %},
{{ site_name }} {% blocktrans %}Administración{% endblocktrans %}


{# This is used by django.contrib.auth #}
