{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<br>
<ul class="row" style="list-style:none;">
    <li class="col-sm-4" ></li>
    <li class="col-sm-4" >
        <div class="address-widget">
            <span><strong>Cambiar Contraseña</strong></span>
            <br>
            <br>
            <p>
                {% blocktrans %}
                    Olvidaste tu contraseña? Ingresa tu email a continuación y te enviaremos las instrucciones para crear una nueva.
                {% endblocktrans %}
            </p>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn red-btn" style="background-color:#FF7400; color:white;" type="submit" value="Cambiar Contraseña" />
            </form>
        </div>
    </li>
    <li class="col-sm-4" ></li>
</ul>
<br>
{% endblock %}


{# This is used by django.contrib.auth #}
