{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Cambio de contraseña exitoso" %}{% endblock %}

{% block content %}
<br>
<ul class="row" style="list-style:none;">
    <li class="col-sm-4" ></li>
    <li class="col-sm-4" >
        <div class="address-widget">
            <span><strong>Contraseña modificada</strong></span>
            <br>
            <br>
            <p>
                {% trans "Tu contraseña ha sido cambiada!" %}
            </p>
            <p>
                {% blocktrans %}Vuelve a ingresar a tu aplicacion{% endblocktrans %}.
            </p>
        </div>
    </li>
    <li class="col-sm-4" ></li>
</ul>
<br>
{% endblock %}


{# This is used by django.contrib.auth #}
